version: '3.4'

services:
  chyll:
    image: jamiegyoung22/chyll:latest
    build:
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    extra_hosts:
      - host.docker.internal:host-gateway
    ports:
      - 3000:3000
    env_file: ./server/.env
