.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: #e4e4f6;
  font-size: 24px;
  flex-direction: column;
  text-align: center;
}

.text {
  margin: 0;
  padding: 0 10px 0 10px;
}

.selectContainer {
  font-size: 24px;
  color: #b6b6d9;
  display: flex;
  justify-content: center;
}

.errorText {
  background-color: #d83a3a;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid rgb(22, 22, 22);
  transition: all .2s ease-in-out;
  position: absolute;
  top: 75%;
}